# GoDaddy API Credentials
GODADDY_CLIENT_ID=
GODADDY_CLIENT_SECRET=
NEXT_PUBLIC_GODADDY_ENV=prod
NEXT_PUBLIC_GODADDY_HOST=api.godaddy.com

# Store and Order Identifiers
NEXT_PUBLIC_GODADDY_STORE_ID=
NEXT_PUBLIC_GODADDY_CHANNEL_ID=
NEXT_PUBLIC_GODADDY_DRAFT_ORDER_ID=

# Stripe Payment Credentials
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET=

# GoDaddy Payment Credentials
NEXT_PUBLIC_GODADDY_APP_ID=
#NEXT_PUBLIC_GODADDY_BUSINESS_ID=

# Square Credentials
NEXT_PUBLIC_SQUARE_APP_ID=
NEXT_PUBLIC_SQUARE_LOCATION_ID=
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
